<app-user-form (userAddedEvent)="addUser($event)"></app-user-form>
<app-spinner [visible]="isLoading"></app-spinner>
<div>
  <ul class= "list-group users">
    <li class="list-group-item" 
    *ngFor = "let user of users" 
    [class.active]="currentUser == user" 
    (click)="select(user)">
      <jce-user [user] = "user" (deleteEvent) = "deleteUser($event)"> </jce-user>
    </li>
  </ul>
</div>

<!--div>
  <ul class= "list-group users">
    <li *ngFor = "let user of users" class= "list-group-item">
      Name: {{user.name}} , Email: {{user.email}}
    </li>
  </ul>
</div>-->

<!--app-user-form></app-user-form>
<div>
  <table class= " table table-striped table-bordered btn-group-justified btn-xs"> 
    <tr>
      <th >Name</th>
      <th >Email</th> 
    </tr>
    
    <tr *ngFor = "let user of users" >
      <td > {{user.name}} </td>
      <td> {{user.email}} </td>
    </tr>
  </table>
</div-->


