<h1>
  {{title}} 
</h1>
<!--app-users>laoding....</app-users-->
<!--app-posts>laoding.......</app-posts-->
<!--<jce-post>laoding.......</jce-post>-->

	<nav>
	<a routerLink = "/posts">Posts</a> |
	<a routerLink = "./users">Users</a> 
	</nav>
	<router-outlet></router-outlet>
