	<!--<span>Title: {{post.title}} , Content: {{post.content}}</span>-->

  <span *ngIf="!isEdit">Title: {{post.title}} , Content: {{post.content}} </span> 
	
	<span *ngIf="isEdit" >
	    Title: <input type="text" [(ngModel)]="post.title">
	    Content: <input type="text" [(ngModel)]="post.content">
	</span>

<button type="button" class="btn" (click) = "toggleEdit()">{{editButtonText}}</button>
<button type="button" class="btn btn-danger" (click) = "sendDelete()">Delete</button> 
<button *ngIf="isEdit" type="button" class="btn" (click) = "calcelChanges()">cancel</button>