<app-post-form (postAddedEvent)="addPost($event)"></app-post-form>
<div>
  <app-spinner [visible]="isLoading"></app-spinner>
  <ul class= "list-group posts">
    <li class="list-group-item" 
    *ngFor = "let post of posts" 
    [class.active]="currentPost == post" 
    (click)="select(post)">
      <jce-post [post] = "post" (editEvent) = "editUser($event)" (deleteEvent) = "deleteUser($event)"> </jce-post>
    
    <ul>
        <li *ngFor = "let name of post.userName">
          {{(name | async)?.name}}
        </li>
    </ul>
    
    
    </li>
  </ul>
</div>
