<span *ngIf="!isEdit">Name: {{user.name}} , Email: {{user.email}}</span> 

<span *ngIf="isEdit">
    Name: <input type="text" [(ngModel)]="user.name" >
    Email: <input type="text" [(ngModel)]="user.email">
</span>

<button type="button" class="btn" (click) = "toggleEdit()">{{editButtonText}}</button>
<button type="button" class="btn btn-danger" (click) = "sendDelete()">Delete</button> 

<!--pull-right-->
